<a href="https://colab.research.google.com/github/wadudh/Deep-learning--Churn_prediction/blob/main/churn_prediction_handling_imbalanced_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [77]:
url ='https://raw.githubusercontent.com/codebasics/deep-learning-keras-tf-tutorial/master/14_imbalanced/customer_churn.csv'
df= pd.read_csv(url)

In [78]:
df.sample(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1553,7776-QGYJC,Female,0,Yes,Yes,39,Yes,No,Fiber optic,No,...,Yes,Yes,No,No,Month-to-month,Yes,Bank transfer (automatic),81.5,3107.3,No
5699,6719-OXYBR,Male,0,No,No,15,Yes,No,Fiber optic,No,...,Yes,No,Yes,No,Month-to-month,No,Electronic check,85.3,1219.85,No
6819,3005-NFMTA,Male,1,No,No,55,Yes,Yes,Fiber optic,Yes,...,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.8,5617.75,Yes
6939,2758-RNWXS,Male,0,No,No,35,Yes,No,Fiber optic,Yes,...,No,Yes,No,Yes,One year,Yes,Electronic check,89.2,3251.3,No
2381,7649-PHJVR,Male,0,No,No,11,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,No,Mailed check,19.5,226.8,No

In [79]:
df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [80]:
df.drop(columns=['customerID'],inplace=True)

In [39]:
df.TotalCharges.values

array(['29.85', '1889.5', '108.15', ..., '346.45', '306.6', '6844.5'],
      dtype=object)

In [84]:
pd.to_numeric(df.TotalCharges,errors='ignore',).isnull().sum()

0

In [94]:
df1 =df[df.TotalCharges!=' ']

In [95]:
df1.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [98]:
df1['TotalCharges']=df1.TotalCharges.astype(float)

<ipython-input-98-af712a2c32fe>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['TotalCharges']=df1.TotalCharges.astype(float)

In [100]:
df1.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [107]:
def unique_val(df):
  for column in df1:
    if df1[column].dtypes=='object':
      print(f'{column}: {df[column].unique()}')


unique_val(df1)

gender: ['Female' 'Male']
Partner: ['Yes' 'No']
Dependents: ['No' 'Yes']
PhoneService: ['No' 'Yes']
MultipleLines: ['No phone service' 'No' 'Yes']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes' 'No internet service']
OnlineBackup: ['Yes' 'No' 'No internet service']
DeviceProtection: ['No' 'Yes' 'No internet service']
TechSupport: ['No' 'Yes' 'No internet service']
StreamingTV: ['No' 'Yes' 'No internet service']
StreamingMovies: ['No' 'Yes' 'No internet service']
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: ['Yes' 'No']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn: ['No' 'Yes']

In [110]:
df1.replace('No phone service','No',inplace=True)
df1.replace('No internet service','No',inplace=True)

unique_val(df1)

gender: ['Female' 'Male']
Partner: ['Yes' 'No']
Dependents: ['No' 'Yes']
PhoneService: ['No' 'Yes']
MultipleLines: ['No' 'Yes']
InternetService: ['DSL' 'Fiber optic' 'No']
OnlineSecurity: ['No' 'Yes']
OnlineBackup: ['Yes' 'No']
DeviceProtection: ['No' 'Yes']
TechSupport: ['No' 'Yes']
StreamingTV: ['No' 'Yes']
StreamingMovies: ['No' 'Yes']
Contract: ['Month-to-month' 'One year' 'Two year']
PaperlessBilling: ['Yes' 'No']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn: ['No' 'Yes']

In [118]:
yes_no_columns = ['Partner','Dependents','PhoneService','MultipleLines','OnlineSecurity','OnlineBackup',
                  'DeviceProtection','TechSupport','StreamingTV','StreamingMovies','PaperlessBilling','Churn']
for col in yes_no_columns:
  df1[col].replace({'Yes':1,'No':0},inplace=True)

unique_val(df1)

gender: ['Female' 'Male']
InternetService: ['DSL' 'Fiber optic' 'No']
Contract: ['Month-to-month' 'One year' 'Two year']
PaymentMethod: ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']

In [133]:
for column in df1:
  print(f'{column}:{df1[column].unique()}')

gender:['Female' 'Male']
SeniorCitizen:[0 1]
Partner:[1 0]
Dependents:[0 1]
tenure:[ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26 39]
PhoneService:[0 1]
MultipleLines:[0 1]
InternetService:['DSL' 'Fiber optic' 'No']
OnlineSecurity:[0 1]
OnlineBackup:[1 0]
DeviceProtection:[0 1]
TechSupport:[0 1]
StreamingTV:[0 1]
StreamingMovies:[0 1]
Contract:['Month-to-month' 'One year' 'Two year']
PaperlessBilling:[1 0]
PaymentMethod:['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges:[29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges:[  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn:[0 1]

In [135]:
df1.gender.replace({'Female':1,'Male':0},inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [137]:
df1.gender.unique()

array([1, 0])

In [138]:
df2 = pd.get_dummies(data=df1, columns=['InternetService','Contract','PaymentMethod'])
df.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [143]:
(df2.sample(5))

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
6290,1,0,1,0,71,1,1,0,0,0,...,0,1,0,0,0,1,1,0,0,0
6851,0,0,1,1,38,1,1,0,0,1,...,0,1,0,0,0,1,1,0,0,0
5832,0,0,1,1,20,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0
5683,1,0,0,0,39,0,0,0,0,1,...,1,0,0,1,0,0,0,0,1,0
6573,1,0,1,1,45,0,0,0,1,1,...,1,0,0,0,1,0,1,0,0,0

In [147]:

print(df2.dtypes)

gender                                       int64
SeniorCitizen                                int64
Partner                                      int64
Dependents                                   int64
tenure                                     float64
PhoneService                                 int64
MultipleLines                                int64
OnlineSecurity                               int64
OnlineBackup                                 int64
DeviceProtection                             int64
TechSupport                                  int64
StreamingTV                                  int64
StreamingMovies                              int64
PaperlessBilling                             int64
MonthlyCharges                             float64
TotalCharges                               float64
Churn                                        int64
InternetService_DSL                          uint8
InternetService_Fiber optic                  uint8
InternetService_No                           uint8
Contract_Month-to-month                      uint8
Contract_One year                            uint8
Contract_Two year                            uint8
PaymentMethod_Bank transfer (automatic)      uint8
PaymentMethod_Credit card (automatic)        uint8
PaymentMethod_Electronic check               uint8
PaymentMethod_Mailed check                   uint8
dtype: object

In [145]:
col_to_scale =['tenure','MonthlyCharges','TotalCharges']
from sklearn.preprocessing import MinMaxScaler
sc=MinMaxScaler()
df2[col_to_scale]=sc.fit_transform(df2[col_to_scale])

In [148]:
for col in df2:
  print(f'{col}:{df2[col].unique()}')

gender:[1 0]
SeniorCitizen:[0 1]
Partner:[1 0]
Dependents:[0 1]
tenure:[0.         0.46478873 0.01408451 0.61971831 0.09859155 0.29577465
 0.12676056 0.38028169 0.85915493 0.16901408 0.21126761 0.8028169
 0.67605634 0.33802817 0.95774648 0.71830986 0.98591549 0.28169014
 0.15492958 0.4084507  0.64788732 1.         0.22535211 0.36619718
 0.05633803 0.63380282 0.14084507 0.97183099 0.87323944 0.5915493
 0.1971831  0.83098592 0.23943662 0.91549296 0.11267606 0.02816901
 0.42253521 0.69014085 0.88732394 0.77464789 0.08450704 0.57746479
 0.47887324 0.66197183 0.3943662  0.90140845 0.52112676 0.94366197
 0.43661972 0.76056338 0.50704225 0.49295775 0.56338028 0.07042254
 0.04225352 0.45070423 0.92957746 0.30985915 0.78873239 0.84507042
 0.18309859 0.26760563 0.73239437 0.54929577 0.81690141 0.32394366
 0.6056338  0.25352113 0.74647887 0.70422535 0.35211268 0.53521127]
PhoneService:[0 1]
MultipleLines:[0 1]
OnlineSecurity:[0 1]
OnlineBackup:[1 0]
DeviceProtection:[0 1]
TechSupport:[0 1]
StreamingTV:[0 1]
StreamingMovies:[0 1]
PaperlessBilling:[1 0]
MonthlyCharges:[0.11542289 0.38507463 0.35422886 ... 0.44626866 0.25820896 0.60149254]
TotalCharges:[0.0012751  0.21586661 0.01031041 ... 0.03780868 0.03321025 0.78764136]
Churn:[0 1]
InternetService_DSL:[1 0]
InternetService_Fiber optic:[0 1]
InternetService_No:[0 1]
Contract_Month-to-month:[1 0]
Contract_One year:[0 1]
Contract_Two year:[0 1]
PaymentMethod_Bank transfer (automatic):[0 1]
PaymentMethod_Credit card (automatic):[0 1]
PaymentMethod_Electronic check:[1 0]
PaymentMethod_Mailed check:[0 1]

Train Test SPlit

In [154]:
x=df2.drop('Churn',axis=1)
y=df2['Churn']

from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=15,stratify=y)

In [155]:
y_train.value_counts()

0    4130
1    1495
Name: Churn, dtype: int64

In [156]:
y_test.value_counts()

0    1033
1     374
Name: Churn, dtype: int64

In [158]:
len(x_train.columns)

26

Building ANN

In [160]:
import tensorflow as tf
#from tensorflow_addons import losses
from tensorflow import keras
from sklearn.metrics import confusion_matrix, classification_report

In [162]:
#@title Default title text
def ANN(X_train, y_train, X_test, y_test, loss, weights):
    model = keras.Sequential([
        keras.layers.Dense(26, input_dim=26, activation='relu'),
        keras.layers.Dense(15, activation='relu'),
        keras.layers.Dense(1, activation='sigmoid')
    ])

    model.compile(optimizer='adam', loss=loss, metrics=['accuracy'])
    
    if weights == -1:
        model.fit(X_train, y_train, epochs=100)
    else:
        model.fit(X_train, y_train, epochs=100, class_weight = weights)
    
    print(model.evaluate(X_test, y_test))
    
    y_preds = model.predict(X_test)
    y_preds = np.round(y_preds)
    
    print("Classification Report: \n", classification_report(y_test, y_preds))
    
    return y_preds

In [170]:
def ANN(x_train,y_train,x_test,y_test,loss,weights):
  model = keras.Sequential([
      keras.layers.Dense(26,input_dim=26,activation='relu'),
      keras.layers.Dense(15,activation='relu'),
      keras.layers.Dense(1,activation='sigmoid')
  ])
  model.compile(
      optimizer='adam',
      loss=loss,
      metrics=['accuracy']
  )
  if weights == -1:
    model.fit(x_train,y_train,epochs=100)
  else:
    model.fit(x_train,y_train,epochs=100,class_weight=weights)
  print(model.evaluate(x_test,y_test))
  y_preds=model.predict(x_test)
  y_preds=np.round(y_preds)
  print('Classification report: \n',classification_report(y_test,y_preds))
  return y_preds

In [171]:
y_preds = ANN(x_train,y_train,x_test,y_test,'binary_crossentropy',-1)

Epoch 1/100
176/176 [==============================] - 1s 2ms/step - loss: 0.5274 - accuracy: 0.7225
Epoch 2/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4323 - accuracy: 0.7849
Epoch 3/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4238 - accuracy: 0.7924
Epoch 4/100
176/176 [==============================] - 1s 4ms/step - loss: 0.4198 - accuracy: 0.7954
Epoch 5/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4177 - accuracy: 0.7995
Epoch 6/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4158 - accuracy: 0.7989
Epoch 7/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4144 - accuracy: 0.8011
Epoch 8/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4128 - accuracy: 0.7989
Epoch 9/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4121 - accuracy: 0.8037
Epoch 10/100
176/176 [==============================] - 1s 3ms/step - loss: 0.4101 - accuracy: 0.8076
Epoch 11/100
176/176 [==============================] - 0s 3ms/step - loss: 0.4098 - accuracy: 0.8052
Epoch 12/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4092 - accuracy: 0.8057
Epoch 13/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4076 - accuracy: 0.8060
Epoch 14/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4065 - accuracy: 0.8082
Epoch 15/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4057 - accuracy: 0.8082
Epoch 16/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4051 - accuracy: 0.8071
Epoch 17/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4046 - accuracy: 0.8085
Epoch 18/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4024 - accuracy: 0.8096
Epoch 19/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4022 - accuracy: 0.8124
Epoch 20/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4003 - accuracy: 0.8100
Epoch 21/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3999 - accuracy: 0.8124
Epoch 22/100
176/176 [==============================] - 0s 2ms/step - loss: 0.4006 - accuracy: 0.8094
Epoch 23/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3979 - accuracy: 0.8148
Epoch 24/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3967 - accuracy: 0.8123
Epoch 25/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3964 - accuracy: 0.8117
Epoch 26/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3961 - accuracy: 0.8116
Epoch 27/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3947 - accuracy: 0.8132
Epoch 28/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3940 - accuracy: 0.8108
Epoch 29/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3932 - accuracy: 0.8144
Epoch 30/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3914 - accuracy: 0.8162
Epoch 31/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3929 - accuracy: 0.8124
Epoch 32/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3906 - accuracy: 0.8146
Epoch 33/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3898 - accuracy: 0.8126
Epoch 34/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3890 - accuracy: 0.8176
Epoch 35/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3888 - accuracy: 0.8176
Epoch 36/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3865 - accuracy: 0.8181
Epoch 37/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3866 - accuracy: 0.8139
Epoch 38/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3857 - accuracy: 0.8156
Epoch 39/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3844 - accuracy: 0.8188
Epoch 40/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3835 - accuracy: 0.8162
Epoch 41/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3838 - accuracy: 0.8180
Epoch 42/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3822 - accuracy: 0.8167
Epoch 43/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3820 - accuracy: 0.8151
Epoch 44/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3803 - accuracy: 0.8171
Epoch 45/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3808 - accuracy: 0.8210
Epoch 46/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3810 - accuracy: 0.8172
Epoch 47/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3786 - accuracy: 0.8206
Epoch 48/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3776 - accuracy: 0.8187
Epoch 49/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3775 - accuracy: 0.8194
Epoch 50/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3766 - accuracy: 0.8196
Epoch 51/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3758 - accuracy: 0.8213
Epoch 52/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3763 - accuracy: 0.8190
Epoch 53/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3739 - accuracy: 0.8219
Epoch 54/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3736 - accuracy: 0.8180
Epoch 55/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3734 - accuracy: 0.8197
Epoch 56/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3729 - accuracy: 0.8210
Epoch 57/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3717 - accuracy: 0.8208
Epoch 58/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3708 - accuracy: 0.8222
Epoch 59/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3702 - accuracy: 0.8224
Epoch 60/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3697 - accuracy: 0.8220
Epoch 61/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3703 - accuracy: 0.8229
Epoch 62/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3698 - accuracy: 0.8208
Epoch 63/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3688 - accuracy: 0.8244
Epoch 64/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3681 - accuracy: 0.8224
Epoch 65/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3679 - accuracy: 0.8240
Epoch 66/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3663 - accuracy: 0.8235
Epoch 67/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3666 - accuracy: 0.8251
Epoch 68/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3656 - accuracy: 0.8242
Epoch 69/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3656 - accuracy: 0.8235
Epoch 70/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3646 - accuracy: 0.8238
Epoch 71/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3647 - accuracy: 0.8229
Epoch 72/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3628 - accuracy: 0.8244
Epoch 73/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3628 - accuracy: 0.8254
Epoch 74/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3630 - accuracy: 0.8265
Epoch 75/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3611 - accuracy: 0.8247
Epoch 76/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3621 - accuracy: 0.8281
Epoch 77/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3618 - accuracy: 0.8231
Epoch 78/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3594 - accuracy: 0.8244
Epoch 79/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3609 - accuracy: 0.8279
Epoch 80/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3593 - accuracy: 0.8267
Epoch 81/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3598 - accuracy: 0.8267
Epoch 82/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3586 - accuracy: 0.8302
Epoch 83/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3589 - accuracy: 0.8292
Epoch 84/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3571 - accuracy: 0.8292
Epoch 85/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3570 - accuracy: 0.8263
Epoch 86/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3565 - accuracy: 0.8316
Epoch 87/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3551 - accuracy: 0.8316
Epoch 88/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3549 - accuracy: 0.8293
Epoch 89/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3553 - accuracy: 0.8324
Epoch 90/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3540 - accuracy: 0.8345
Epoch 91/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3528 - accuracy: 0.8315
Epoch 92/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3543 - accuracy: 0.8284
Epoch 93/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3520 - accuracy: 0.8274
Epoch 94/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3516 - accuracy: 0.8322
Epoch 95/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3513 - accuracy: 0.8324
Epoch 96/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3507 - accuracy: 0.8316
Epoch 97/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3512 - accuracy: 0.8304
Epoch 98/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3501 - accuracy: 0.8302
Epoch 99/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3492 - accuracy: 0.8336
Epoch 100/100
176/176 [==============================] - 0s 2ms/step - loss: 0.3495 - accuracy: 0.8329
44/44 [==============================] - 0s 2ms/step - loss: 0.4887 - accuracy: 0.7790
[0.4887002110481262, 0.7789623141288757]
44/44 [==============================] - 0s 1ms/step
Classification report:
               precision    recall  f1-score   support

           0       0.83      0.87      0.85      1033
           1       0.60      0.52      0.56       374

    accuracy                           0.78      1407
   macro avg       0.72      0.70      0.70      1407
weighted avg       0.77      0.78      0.77      1407